{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Помощь наркозависимым и алкозависимым людям</h1>
          <p> <p>В России давно осознали необходимость реабилитационной работы с
			наркозависимыми. Возникли реабилитационные центры, общины, дневные
			стационары, полустационары, где сотрудники используют весь накопленный опыт
			работы, имеющийся в этой области к настоящему времени.
			  Исследование ПАВ-зависимости обнаруживает, что она определяется целым
			рядом факторов: семейными, личностными, социальными. И только комплексный
			подход позволит эффективно решать проблему наркомании.</p>
			</p>

        </div>
      </div>

      <div class="container">
          <h1 class="text-center">Этапы ребиалитации</h1>
          <p></p>
        <!-- Example row of columns -->
        <div class="row">
          <div >
            <h3>Подготовительный</h3>
            <p>На подготовительном этапе, после обращения пациента в ТС «Берег Надежды»
							 и получения им полной, необходимой информации о правилах поступления и
							 пребывания в ТС «Берег Надежды», пациент вместе с его родными попадает на
							 первичный прием к сотруднику ТС «Берег Надежды», задачей которого является
							 первичная мотивация на начало соцадаптации. Руководитель определяет
							 необходимость прохождения курса детоксикации, специалист по семейным
							 отношениям проводит консультацию родственников и определяет потребность в
							 консультациях и групповой терапии для ближайшего окружения зависимого от ПАВ.</p>

          </div>
          <div >
            <h2>Детоксикационный</h2>
            <p> При необходимости детоксикации предусмотрено обращение в специализированные
							 учереждения на территории г. Ишима (ГБУЗ ТО ОКПБ) филиал Н 1. После приема
							 психиатра-нарколога, который определяет клинические симптомы болезни и назначает
							 необходимое лечение, исходя из состояния пациента. Отделение интенсивной терапии
							 является восстановительным этапом, включающим фармакологическое лечение острых
							 и подострых состоянии, вызванных хронической или остров наркотической
							 интоксикацией : психические нарушения, передозировка наркотиками, наркотический
							 абстинентный синдром, выраженные постабстинентные расстройства. Сопровождение пациента сотрудниками ТС «Берег Надежды» на время детоксикации и пребывания в
								(гБУз то оКПБ) филиал лги 1.
							    Немаловажным, уже на этапе детоксикации, является участие волонтеров в
							первичном формировании мотивации на прохождение реабилитации.</p>

          </div>
          <div >
            <h2>Адаптационный</h2>
            <p>Адаптационный этап
							    Мероприятия адаптационного этапа направлены на первичную адаптацию
							пациента к условиям проживания, интеграцию в коллектив проекта и
							соцадаптационную группу. С первых встреч с пациентом консультант устанавливает
							тесный, доверительный контакт, без создания которого невозможна эффективная
							работа. Уже в процессе сбора первичной информации о болезни специалистами
							проекта выясняются уровень сформированности мотивации на излечение,
							внутриличностные конфликты, определяются факторы, способствующие обострению
							заболевания, а также определяется потенциал пациента.
							  С первого дня пребывания в ТС «Берег Надежды» пациент включается в работу
							группы для новичков, работа которой направлена на скорейшую интеграцию пациента
							в процессе его адаптации. Для выполнения этой задачи ряд специалистов проводит
							психолого-педагогические мероприятия, способствующие созданию доверительной
							атмосферы внутри и вне «устной группы». Первичная консультация психолога с целью
							знакомства и установления «доверительной дистанции», терапевтической эмпатии
							между психологом и пациентом, ситуативнои поддержки проводится, как правило, уже
							в первый день прохождения адаптации, что позволяет пациенту получить
							дополнительную мотивацию на дальнейшее лечение. <br>
							<br>
							Основные мероприятия, направленные на вовлечение новичка в
                     соцадаптационныи процесс:<br>
							• Настрой на день<br>
							• Тренинг в виде «устной группы»<br>
							• Спорт-час<br>
							     На этих мероприятиях пациент в раскрепощенной обстановке может совершать
							первые попытки самовыражения и самоопределения в условиях нового для него
							коллектива. Это особенно важно, учитывая первоначально агрессивный настрой
							большинства пациентов на принятие режимны моментов.
							     Это не означает, что пациент не обязан присутствовать на остальных
							мероприятиях по расписанию, однако именно на этих занятиях ему уделяется особое
							внимание. Консультантом собирается вся необходимая информация для составления
							индивидуального плана работы с пациентом, а динамика состояния заносится всоциальный паспорт пациента для дальнейшего использования в процессе работы
		 					всеми специалистами. <br>
		 					  Параллельно с данным процессом психологом Проекта ведется психологическое
		 					консультирование и направление на выявление личностных деформаций, их коррекцию
		 					и создание установки на здоровый образ жизни.. <br>
		 					 Работники выявляют профессионально-трудовой потенциал пациента, определяют
		 					уровень заинтересованности в труде, изучают накопленный в процессе
		 					жизнедеятельности трудовой опыт с целью максимально эффективной организации
		 					трудотерапии. Определяющим фактором в выборе направленности трудозанятости,
		 					зачастую, являются не личные предпочтения пациента, а мнение специалистов
		 					Проекта, основанное на тщательном анализе информации, полученной на
		 					адаптационном этапе. Следует подчеркнуть, что позитивное отношение человека к
		 					труду является одним из важнейших условий ресоциализации. <br>
		 					  Одной из задач, на решение которой направлены усилия специалистов в
		 					адаптационный период, является эффективное включение пациента в процесс
		 					адаптации. Для скорейшей нормализации физического состояния больного в
		 					расписании мероприятий предусмотрена саунотерапия. Посещение русской бани
		 					совместно с гЬитотерапией, способствует нормализации сна, снижению
		 					компульсивного влечения к наркотикам, улучшению настроения, снижению
		 					тревожности и депрессии. <br>
		 					   Таким образом, именно нормализация физического состояния, приведение в
		 					норму психического здоровья и ознакомление пациента с новой для него
		 					терапевтической средой являются важнейшими мишенями для работы на данном этапе.
		 					   Решением Руководителя пациент переводится на следующий этап только при
		 					условии успешной адаптации в ТС «Берег Надежды» и интеграции в
		 					соцадаптационныи процесс. <br>
		 					   Результатами работы специалистов на данном этапе могут считаться: <br>
		 					     • полное принятие пациентом правил внутреннего распорядка <br>
		 					     • активное участие во всех режимны мероприятиях<br>
		 					     • готовность пациента к письменной работе по программе «12х 12»<br>
		 					     • низкие показатели тревоги и отсутствие депрессивных состоянии как
		 					   факт благополучно протекающего процесса адаптации в реабилитационном
		 					   центре.</p>



        </div>

            <div >
            <h2>Основной</h2>
            <p> После перевода на основной этап адаптации пациент приступает к выполнению в
							полном объеме всех письменных заданий, предусмотренных программой «12х12»
							(Приложение «Программа «12х 12», 1 шаг). <br> таким заданиям относятся: <br>
							- работа по первому шагу методики «12х12» <br>
							- анализ чувств <br>
							- индивидуальные дополнительные задания <br>
							       При работе по первому шагу продолжает соблюдаться принцип групповой
							терапии, и пациенты выполняют письменные задания по рабочему журналу в
							коллективе людей, с которыми находились в «устной группе». Таким образом,
							начинается соблюдение важнейших принципов в адаптационном процессе - этапности
							и преемственности. <br>
							      С третьей недели нахождения пациента в Проекте, психолог и психотерапевт
							начинают активно участвовать в процессе адаптации, т.к. только к этому времени
							больной готов к переходу от пассивной позиции «Лечите меня» к активной позиции в
							выздоровлении «Я лечусь». <br>
							     Программа психолого-терапевтического сопровождения соцадаптации больных
							наркоманией выстроена в той же логике, что и весь процесс. Ее этапность совпадает с
							теми этапами, которые мы выделяем в процессе адаптации.</p>

          </div>
        <hr>

            <div> <h1 >Сертификаты и достижения</h1><p>
                <div >
                    <div class="fotorama"      data-width="800"   data-height="600" data-allowfullscreen="native">
                                <img src="{% static 'images/333.jpg' %} ">
                                <img src="{% static 'images/123.jpg' %} ">
                                <img src="{% static 'images/321.jpg' %} ">
                                <img src="{% static 'images/22.jpg' %} ">
                    </div>
                </div>
            </p>
            </div>
      </div> <!-- /container -->
      </div>
    </main>


{% endblock %}